.info__sidebar{
  z-index: 99999;
  width: 230px;
  height: 100%;
  background: #20202a;
  box-shadow: 0 3px 8px 0 rgba(15, 15, 20, .2);
  position: fixed;
  padding: 30px;

  &__header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 30px;
    height: 290px;
    background-color: linear-gradient(159deg,rgba(37,37,50,.98) 0%,rgba(35,35,45,.98) 100%);
    box-shadow: 0 1px 4px 0 rgba(15,15,20,.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.info__sidebar__header__info{
  align-items: center;
  justify-content: center;
  flex-direction: column;

    &__h2{
      align-items: center;
      justify-content: center;
      color: #fafafc;
      &:hover{
        color: #ffc107;
      }
    }
    &__h3{
      align-items: center;
      justify-content: center;
    }
}




img{
  z-index: 9999999;
  border-radius: 50%;
  width: 100px;
  //align-items: center;
  //justify-content: center
}

