<section class="info__sidebar" id="info-sidebar" >
  <section class="info__sidebar__header">
    <img src="/assets/img/alexander.jpg" alt="">
    <div class="info__sidebar__header__info">
      <h2 class="info__sidebar__header__info__h2">Alexander Decoz</h2>
      <p class="info__sidebar__header__info__h3">Web Developer</p>
      <p class="info__sidebar__header__info__h3">Philosophy of Technology</p>
    </div>
  </section>
  <section>
    <div>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    </div>
    <div>
      <h5>Language</h5>
    </div>
    <div>
      <h5>Coding</h5>
    </div>
    <div>
      <h5>Knowledge</h5>
    </div>
    <div>
      <a href="">Download CV</a>
    </div>
  </section>
  <section>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
  </section>
</section>
