.info__sidebar{
  z-index: 99999;
  width: 230px;
  height: 100%;
  background: #20202a;
  box-shadow: 0 3px 8px 0 rgba(15, 15, 20, .2);
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 30px;

  &__header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 30px;
    height: 290px;
    background-color: linear-gradient(159deg, rgba(37,37,50,.98) 0%, rgba(35,35,45,.98) 100%);
    box-shadow: 0 1px 4px 0 rgba(15,15,20,.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.info__sidebar__header__info{
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: #7a7a7a 3px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;


    &__h2{
      align-items: center;
      justify-content: center;
      color: #fafafc;
      &:hover{
        color: #ffc107;
      }
    }

}

#avatar{
  z-index: 9999999;
  border-radius: 50%;
  width: 100px;
}

.info__sidebar__main__basic{
  text-align: left;
  display: flex;
  position: block;
  box-sizing: border-box;
    &__list h6{
      display: inline-flex;
      position: fixed;
      flex-direction: column;
      text-align: left;
    }
    &__list span{
      //display: inline-flex;
      //position: fixed;
      //flex-direction: column;
      text-align: end;
    }
}

.info__sidebar__main__links{
  display: flex;
    &__icon{
    align-content: space-around;
    }
}
