<section @openClose class="info__sidebar" id="info-sidebar">
  <section class="info__sidebar__header">
    <div class="info__sidebar__header__close" ><fa-icon [icon]="fEllipsis" id="close" (click)="onClose()"></fa-icon></div>
    <img id="avatar" src="/assets/img/alexander.jpg" alt="Albert Alexander Decoz Lex">
    <div class="info__sidebar__header__info">
      <h2 class="info__sidebar__header__info__h2">Alexander Decoz</h2>
      <br>
      Web Developer <br>
      Philosophy of Technology
    </div>
  </section>
  <article class="info__sidebar__main" id="bgd">
    <article id="inner">
    <div class="info__sidebar__main__basic">
    <ul class="info__sidebar__main__basic__list">
      <li><h6>Residence</h6><span><a href="https://goo.gl/maps/zEbaxsF5ucrMQc22A" target="_blank">Halle</a></span></li>
      <li><h6>Country</h6><span>Belgium</span></li>
      <li><h6>Age</h6><span>26</span></li>
      <li><h6>Driverslicense</h6><span>B</span></li>
      <li><h6></h6></li>
    </ul>
    </div>
    <div class="info__sidebar__main__languages">
      <h5 class="info__sidebar__main__languages__title">Languages</h5>
      <div class="info__sidebar__main__languages__skills">
        <div class="info__sidebar__main__languages__skills__progress">
        <div id="dutch" data-type="circles" data-value="100" class="info__sidebar__main__languages__skills__item">
          <svg viewBox="0 0 100 100">
            <path d="M 50,50 m 0,-46.5 a 46.5,46.5 0 1 1 0,93 a 46.5,46.5 0 1 1 0,-93" stroke="#eee" stroke-width="7" fill-opacity="0"></path>
            <path id="pro" d="M 50,50 m 0,-46.5 a 46.5,46.5 0 1 1 0,93 a 46.5,46.5 0 1 1 0,-93" stroke="#555" stroke-width="7" fill-opacity="0" style="stroke-dasharray: 292.209px, 292.209px; stroke-dashoffset: 0;"></path></svg>
          <div class="info__sidebar__main__languages__skills__item__percent" style="position: absolute; left: 50%; top: 50%; padding: 0; margin: 0; transform: translate(-50%, -50%); color: rgb(85, 85, 85);"><span class="perk">100%</span></div></div>
        <h6 class="info__sidebar__main__languages__skills__item__detail">Dutch</h6></div>
        <div class="info__sidebar__main__languages__skills__progress">
        <div id="english" data-type="circles" data-value="90" class="info__sidebar__main__languages__skills__item">
          <svg viewBox="0 0 100 100">
            <path d="M 50,50 m 0,-46.5 a 46.5,46.5 0 1 1 0,93 a 46.5,46.5 0 1 1 0,-93" stroke="#eee" stroke-width="7" fill-opacity="0"></path>
            <path id="pro" d="M 50,50 m 0,-46.5 a 46.5,46.5 0 1 1 0,93 a 46.5,46.5 0 1 1 0,-93" stroke="#555" stroke-width="7" fill-opacity="0" style="stroke-dasharray: 292.209px, 292.209px; stroke-dashoffset: 29.2209px;"></path></svg>
          <div class="info__sidebar__main__languages__skills__item__percent" style="position: absolute; left: 50%; top: 50%; padding: 0; margin: 0; transform: translate(-50%, -50%); color: rgb(85, 85, 85);"><span class="perk">90%</span></div></div>
        <h6 class="info__sidebar__main__languages__skills__item__detail">English</h6></div>
        <div class="info__sidebar__main__languages__skills__progress">
          <div id="french" data-type="circles" data-value="30" class="info__sidebar__main__languages__skills__item">
            <svg viewBox="0 0 100 100">
              <path d="M 50,50 m 0,-46.5 a 46.5,46.5 0 1 1 0,93 a 46.5,46.5 0 1 1 0,-93" stroke="#eee" stroke-width="7" fill-opacity="0"></path>
              <path id="pro" d="M 50,50 m 0,-46.5 a 46.5,46.5 0 1 1 0,93 a 46.5,46.5 0 1 1 0,-93" stroke="#555" stroke-width="7" fill-opacity="0" style="stroke-dasharray: 292.209px, 292.209px; stroke-dashoffset: 200.6626px;"></path></svg>
            <div class="info__sidebar__main__languages__skills__item__percent" style="position: absolute; left: 50%; top: 50%; padding: 0; margin: 0; transform: translate(-50%, -50%); color: rgb(85, 85, 85);"><span class="perk">30%</span></div></div>
        <h6 class="info__sidebar__main__languages__skills__item__detail">German</h6></div>
      </div>
    </div>

    <div class="info__sidebar__main__coding">
      <h5 class="info__sidebar__main__coding__title">Coding</h5>
      <div class="info__sidebar__main__coding__skills">
        <div class="info__sidebar__main__coding__skills__heading">
          <h6 class="info__sidebar__main__coding__skills__heading__title">HTML</h6>
        </div>
        <div>
          <div data-type="progress" data-value="90" class="info__sidebar__main__coding__skills__process" style="position: relative;">
          <svg viewBox="0 0 100 1.72" preserveAspectRatio="none" style="width: 100%; height: 100%;">
            <path d="M 0,0.86 L 100,0.86" stroke="#eee" stroke-width="1.72" fill-opacity="0"></path>
            <path id="progbar" d="M 0,0.86 L 100,0.86" stroke="#555" stroke-width="1.72" fill-opacity="0" style="stroke-dasharray: 100px, 100px; stroke-dashoffset: 10px;"></path></svg>
          <div class="info__sidebar__main__coding__process__percentage">90 %</div>
          </div>
        </div>
        <div class="info__sidebar__main__coding__skills__heading">
          <h6 class="info__sidebar__main__coding__skills__heading__title">CSS</h6>
        </div>
        <div>
          <div data-type="progress" data-value="90" class="info__sidebar__main__coding__skills__process" style="position: relative;">
            <svg viewBox="0 0 100 1.72" preserveAspectRatio="none" style="width: 100%; height: 100%;">
              <path d="M 0,0.86 L 100,0.86" stroke="#eee" stroke-width="1.72" fill-opacity="0"></path>
              <path id="progbar" d="M 0,0.86 L 100,0.86" stroke="#555" stroke-width="1.72" fill-opacity="0" style="stroke-dasharray: 100px, 100px; stroke-dashoffset: 10px;"></path></svg>
            <div class="info__sidebar__main__coding__process__percentage">90 %</div>
          </div>
        </div>
        <div class="info__sidebar__main__coding__skills__heading">
          <h6 class="info__sidebar__main__coding__skills__heading__title">JavaScript</h6>
        </div>
        <div>
          <div data-type="progress" data-value="90" class="info__sidebar__main__coding__skills__process" style="position: relative;">
            <svg viewBox="0 0 100 1.72" preserveAspectRatio="none" style="width: 100%; height: 100%;">
              <path d="M 0,0.86 L 100,0.86" stroke="#eee" stroke-width="1.72" fill-opacity="0"></path>
              <path id="progbar" d="M 0,0.86 L 100,0.86" stroke="#555" stroke-width="1.72" fill-opacity="0" style="stroke-dasharray: 100px, 100px; stroke-dashoffset: 35px;"></path></svg>
            <div class="info__sidebar__main__coding__process__percentage">65 %</div>
          </div>
        </div>
        <div class="info__sidebar__main__coding__skills__heading">
          <h6 class="info__sidebar__main__coding__skills__heading__title">PHP</h6>
        </div>
        <div>
          <div data-type="progress" data-value="90" class="info__sidebar__main__coding__skills__process" style="position: relative;">
            <svg viewBox="0 0 100 1.72" preserveAspectRatio="none" style="width: 100%; height: 100%;">
              <path d="M 0,0.86 L 100,0.86" stroke="#eee" stroke-width="1.72" fill-opacity="0"></path>
              <path id="progbar" d="M 0,0.86 L 100,0.86" stroke="#555" stroke-width="1.72" fill-opacity="0" style="stroke-dasharray: 100px, 100px; stroke-dashoffset: 20px;"></path></svg>
            <div class="info__sidebar__main__coding__process__percentage" >80 %</div>
          </div>
        </div>
        <div class="info__sidebar__main__coding__skills__heading">
          <h6 class="info__sidebar__main__coding__skills__heading__title">MySQL</h6>
        </div>
        <div>
          <div data-type="progress" data-value="90" class="info__sidebar__main__coding__skills__process" style="position: relative;">
            <svg viewBox="0 0 100 1.72" preserveAspectRatio="none" style="width: 100%; height: 100%;">
              <path d="M 0,0.86 L 100,0.86" stroke="#eee" stroke-width="1.72" fill-opacity="0"></path>
              <path id="progbar" d="M 0,0.86 L 100,0.86" stroke="#555" stroke-width="1.72" fill-opacity="0" style="stroke-dasharray: 100px, 100px; stroke-dashoffset: 25px;"></path></svg>
            <div class="info__sidebar__main__coding__process__percentage" >75 %</div>
          </div>
        </div>
        <div class="info__sidebar__main__coding__skills__heading">
        <h6 class="info__sidebar__main__coding__skills__heading__title">Angular</h6>
      </div>
        <div>
          <div data-type="progress" data-value="90" class="info__sidebar__main__coding__skills__process" style="position: relative;">
            <svg viewBox="0 0 100 1.72" preserveAspectRatio="none" style="width: 100%; height: 100%;">
              <path d="M 0,0.86 L 100,0.86" stroke="#eee" stroke-width="1.72" fill-opacity="0"></path>
              <path id="progbar" d="M 0,0.86 L 100,0.86" stroke="#555" stroke-width="1.72" fill-opacity="0" style="stroke-dasharray: 100px, 100px; stroke-dashoffset: 50px;"></path></svg>
            <div class="info__sidebar__main__coding__process__percentage">50 %</div>
          </div>
        </div>
        <div class="info__sidebar__main__coding__skills__heading">
          <h6 class="info__sidebar__main__coding__skills__heading__title">Laravel</h6>
        </div>
        <div>
          <div data-type="progress" data-value="90" class="info__sidebar__main__coding__skills__process" style="position: relative;">
            <svg viewBox="0 0 100 1.72" preserveAspectRatio="none" style="width: 100%; height: 100%;">
              <path d="M 0,0.86 L 100,0.86" stroke="#eee" stroke-width="1.72" fill-opacity="0"></path>
              <path id="progbar" d="M 0,0.86 L 100,0.86" stroke="#555" stroke-width="1.72" fill-opacity="0" style="stroke-dasharray: 100px, 100px; stroke-dashoffset: 20px;"></path></svg>
            <div class="info__sidebar__main__coding__process__percentage" >80 %</div>
          </div>
        </div>

      </div>
    </div>
    <div class="info__sidebar__main__softskills">
      <h5 class="info__sidebar__main__softskills__title">Soft Skills</h5>
    </div>
    <div class="info__sidebar__main__softskills__list">

      <h4><fa-icon [icon]="fCheckSquare"></fa-icon> Eager to learn</h4>
      <h4><fa-icon [icon]="fCheckSquare"></fa-icon> Communicative skills</h4>
      <h4><fa-icon [icon]="fCheckSquare"></fa-icon> Analytical</h4>
      <h4><fa-icon [icon]="fCheckSquare"></fa-icon> Decisive</h4>
      <h4><fa-icon [icon]="fCheckSquare"></fa-icon> Stress-resistant</h4>

    </div>

    <div class="info__sidebar__main__cv">
      <a href="/assets/download/AADWebsiteCV.pdf" target="_blank" download><h4>DOWNLOAD CV <fa-icon [icon]="fFilePDF"></fa-icon></h4></a>
    </div>
  </article>
  </article>
  <div class="info__sidebar__main__links">
    <a href="https://www.linkedin.com/in/aa-decoz/" class="info__sidebar__main__links__icon"><img src="/assets/img/card__linkedin.svg" alt=""></a>
    <a href="https://github.com/AADecoz" class="info__sidebar__main__links__icon"><img src="/assets/img/card__website.svg" alt=""></a>
<!--    <a href="" class="info__sidebar__main__links__icon"></a>-->
  </div>
</section>
