<section class="info__sidebar" id="info-sidebar" >
  <section class="info__sidebar__header">
    <img id="avatar" src="/assets/img/alexander.jpg" alt="">
    <div class="info__sidebar__header__info">
      <h2 class="info__sidebar__header__info__h2">Alexander Decoz</h2>
<!--      <p class="info__sidebar__header__info__h3">Web Developer</p>-->
<!--      <p class="info__sidebar__header__info__h3">Philosophy of Technology</p>-->
      Web Developer <br>
      Philosophy of Technology
    </div>
  </section>
  <article class="info__sidebar__main">
    <div class="info__sidebar__main__basic">
    <ul class="info__sidebar__main__basic__list">
      <li><h6>Residence</h6><span><a href="https://goo.gl/maps/zEbaxsF5ucrMQc22A" target="_blank">Halle</a></span></li>
      <li><h6>Country</h6><span>Belgium</span></li>
      <li><h6>Age</h6><span>26</span></li>
      <li><h6>Driverslicense</h6><span>B</span></li>
      <li><h6></h6></li>
    </ul>
    </div>
    <div class="info__sidebar__main__languages">
      <h5>Language</h5>
    </div>
    <div class="info__sidebar__main__coding">
      <h5>Coding</h5>
    </div>
    <div class="info__sidebar__main__knowledge">
      <h5>Knowledge</h5>
    </div>
    <div class="info__sidebar__main__cv">
      <a href="">DOWNLOAD CV</a>
    </div>
  </article>
  <section class="info__sidebar__main__links">
    <a class="info__sidebar__main__links__icon" href="https://www.linkedin.com/in/aa-decoz/"><img src="/assets/img/card__linkedin.svg" alt="linkedin"></a>
    <a class="info__sidebar__main__links__icon" href=""><img src="" alt=""></a>
    <a class="info__sidebar__main__links__icon" href=""><img src="" alt=""></a>
  </section>
</section>
