.main__img{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  opacity: 30%;
  padding-top: 60px;
  height: auto;
  width: 100%;

}

.type-thingy{
  position: absolute;
  left: 35%;
  top: 20%;
  width: 30%;
  height: 10%;
}

ngtypewriter{
  position: absolute;
  z-index: 99;
  //top: 100px;
  color: #ffc107;
  font-size: 120%;
  font-family: "Courier Prime";
  opacity: 1;

}

p{
  display: none;
  font-size: x-large;
  position: absolute;
  color: white;
  z-index: 99999;
}


img{
  padding-top: 15px;
  padding-bottom: 0px;
  width: 93%;
  height: 95%;
  filter: grayscale(90%);
  box-shadow: 16px 8px 16px 8px rgba(0, 0, 0, 0.2), 40px 12px 40px 12px rgba(0, 0, 0, 0.19);

}

.main__content__numbers{
  display: flex;
  gap: 5em;
  justify-content: center;
  padding: 15px;
  font-size: 20px;
  flex-wrap: wrap;
  &__item{
  margin: 10px;
    display: flex;
    gap: 10px;
  }
  span{
    color: #ffc107;
    text-decoration: bold;
  }
}

.main__content__blogs{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  &__item{
    background: #20202a;
    margin: 20px;
    width: 450px;
    height: 400px;
  }
  &__title{
  margin: 10px;
    padding: 15px;
    color: #fafafc;
  }
  p{
    color: white;
  }
}
