.main__img{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  opacity: 60%;
  padding-top: 60px;
  height: auto;
  width: 100%;



}

ngtypewriter{
  position: absolute;
  z-index: 99999;
  //top: 100px;
  color: #ffc107;
  font-size: x-large;

}

span{
  font-size: x-large;
  position: absolute;
  color: #ffc107;
  z-index: 99999;
}





img{
  padding-top: 15px;
  padding-bottom: 0px;
  width: 93%;
  height: 95%;
  filter: grayscale(90%);
  box-shadow: 16px 8px 16px 8px rgba(0, 0, 0, 0.2), 40px 12px 40px 12px rgba(0, 0, 0, 0.19);

}

