<div class="main__img">


<!--<img id="banner" src="/assets/img/DSC093322.jpg" alt="">-->

<img src="/assets/img/DSC06365111.jpg" alt="Decoz Musashi Halle Aikido stage club Essenbeek">


</div>

<div class="type-thingy">
  <ngtypewriter [StringList]='list' [speed]='2000'></ngtypewriter>
</div>

<section class="main__content">
  <div class="main__content__numbers">
    <div class="main__content__numbers__item"><span>7+</span><h4>Months Experience</h4></div>
    <div class="main__content__numbers__item"><span>3+</span><h4>Projects</h4></div>
    <div class="main__content__numbers__item"><span>112</span><h4>Connections</h4></div>
    <div class="main__content__numbers__item"><span>99+</span><h4>Ideas</h4></div>
  </div>
  <section class="main__content__blogs">
    <article class="main__content__blogs__item">
      <h2 class="main__content__blogs__title">Medideck</h2>
      <p></p>
    </article>
    <article class="main__content__blogs__item">
      <h2  class="main__content__blogs__title">Oedipus-dating</h2>
      <p></p>
    </article>
    <article class="main__content__blogs__item">
      <h2 class="main__content__blogs__title">PHP Jobdag</h2>
      <p>Opgebouw met Laravel 8 is medideck.tk een website dat is gemodeleerd om Bussiness intelligence te verschaffen aan de farmaceutische markt. </p>
    </article>
  </section>
</section>









