.menu__chapter{
  //padding: 10px;
  left:0;
  right: 0;
  position: absolute;
}

ul{
  list-style-type:none;
  font-size: medium;
  padding-bottom: 10px;
  background: linear-gradient(159deg, rgba(37,37,50,.98) 0%, rgba(35,35,45,.98) 100%);
  box-shadow: 0 1px 4px 0 rgba(15,15,20,.1);
  box-sizing: border-box;
}

a{
  text-decoration: none;
  &:visited{
    color: #fafafc;
  }&:hover{
    color: #ffc107;
  }&::selection{
    color: #ffc107;
  }&:active{
    color: #ffc107;
  }
}

.menu__chapter__title{
text-transform: uppercase;
  width: 100%;
  padding: 20px;
  font-size: medium;

  background: linear-gradient(159deg, rgba(37,37,50,.98) 0%, rgba(35,35,45,.98) 100%);
  box-shadow: 0 1px 4px 0 rgba(15,15,20,.1);
  box-sizing: border-box;
  &:hover{
    color: #fafafc;
  }

}
.menu__chapter__item{
  text-transform: uppercase;
  width: 100%;
  padding: 10px 30px 10px;
  background: linear-gradient(159deg, rgba(37,37,50,.98) 0%, rgba(35,35,45,.98) 100%);
  box-shadow: 0 1px 4px 0 rgba(15,15,20,.1);
  box-sizing: border-box;
  color: #fafafc;
  &:hover{
    color: #ffc107;
  }
}
