<section @openClose class="menu__sidebar" id="menu-sidebar">
  <section class="menu__sidebar__header">
    <div class="menu__sidebar__header__close" >
    <fa-icon [icon]="fBars" (click)="onClose()"></fa-icon>
    </div>
  </section>
  <article class="menu__sidebar__main" id="bgd">

    <app-menu-portfolio></app-menu-portfolio>

      <div class="menu__sidebar__main__languages">
        <h5 class="menu__sidebar__main__languages__title"><a href="https://phpjobdag.be" target="_blank">PHPJOBDAG</a></h5>
        <h5 class="menu__sidebar__main__languages__title"><a href="https://medideck.tk" target="_blank">MEDIDECK</a></h5>
        <h5 class="menu__sidebar__main__languages__title"><a href="https://oedipusdating.tk" target="_blank">OEDIPUS-DATING</a></h5>
        <h5 class="menu__sidebar__main__languages__title"></h5>
        <h5 class="menu__sidebar__main__languages__title"></h5>
      </div>

  </article>
</section>

