h5{
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #fafafc;
}

//info sidebar//

.info__sidebar{
  z-index: 99999;
  width: 230px;
  height: 100%;
  background: #20202a;
  box-shadow: 0 3px 8px 0 rgba(15, 15, 20, .2);
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 30px;
  right: 0px;

  &__header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 30px;
    height: 250px;
    background: linear-gradient(159deg, rgba(37,37,50,.98) 0%, rgba(35,35,45,.98) 100%);
    box-shadow: 0 1px 4px 0 rgba(15,15,20,.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
}

.info__sidebar__header__info{
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: #7a7a7a 3px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;

  &__h2{
    align-items: center;
    justify-content: center;
    color: #fafafc;
    text-align: center;
    &:hover{
      color: #ffc107;
    }

  }

}

#avatar{
  z-index: 9999999;
  border-radius: 50%;
  width: 90px;
}






//Main information//

.info__sidebar__main {
  overflow: hidden;
  padding: 220px 0 50px;
  height: 100vh;
  width: 100%;
  background-color: rgb(32, 32, 42);


  &__basic {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: #7a7a7a 2px;


    &__list li {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      -webkit-box-pack: justify;
      justify-content: space-between;
      box-sizing: border-box;
      margin-bottom: 5px;
    }

    &__list h6 {
      color: #fafafc;
      font-size: 13px;
      font-weight: 400;
      display: block;
      padding: 0;
      margin: 0;
    }

    &__list span {
      text-align: end;
    }
  }


  #bgd{
    background-color: #191923;
  }
  #inner{
    width: 100%;
    overflow: auto;
    height: 100%;
    padding-right: 15px;
    padding-top: 0;
  }


  //Languages//

  .info__sidebar__main__languages__title {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 600;
    color: #fafafc;

  }
  .info__sidebar__main__languages{
    //display: inline-block;
    //vertical-align: top;

  }

  .info__sidebar__main__languages__skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    color: #fafafc;



    &__progress{
      display: inline-block;
    }

    &__item {
      width: 50px;
      height: 50px;
      position: relative;
      padding-bottom: 15px;
      padding-top: 15px;



      svg{
        display: block;
        width: 100%;
        overflow: hidden;

        path{
          stroke: #191923;
          //width: 59px;
        }
        #pro{
          stroke: #ffc107;
        }
        //&__percent{
        //  color: #fafafc;
        //}
      }

    }
  }

  .info__sidebar__main__languages__skills__item__percent{
    position: relative;
    left: 50%;
    top: 50%;
    padding: 0px;
    margin: 0px;
    transform: translate(-50%, -50%); color: rgb(85, 85, 85);
    color: white;
  }

  .perk{
    color: white;
  }
  .info__sidebar__main__languages__skills__item__detail{
    color: #fafafc;
    font-size: 13px;
    font-family: Poppins, sans-serif;
  }






  //Coding skills//


  .info__sidebar__main__coding__title{
    color: #fafafc;
    font-size: 14px;
    font-weight: 600;
    margin-top: 30px;
  }

  .info__sidebar__main__coding__skills__heading{
    //margin-bottom: 15px;
    position: relative;

  }

  .info__sidebar__main__coding__skills__heading__title {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    margin: 0px;
    padding: 20px 0 -25px;
    text-align: left;
  }

  .info__sidebar__main__coding__skills{
    padding-top: 20px;
    padding-bottom: 15px;

    path{
      stroke: #191923;
    }


  }

  .info__sidebar__main__coding__skills__process{
    stroke: #191923;
  }

  #progbar{
    stroke: #ffc107;
  }

  .info__sidebar__main__coding__process__percentage{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    //color: rgb(85,85,85);
    color: #fafafc;
    text-align: right;
    top: -6px;
    width:100%;
  }



  .info__sidebar__main__softskills__list{
    color: white;
    padding-bottom: 10px;
  }
  .info__sidebar__main__softskills__list fa-icon{
    color: #ffc107;
  }
  .info__sidebar__main__softskills__list h4{
    padding-bottom: 5px;
  }

  .info__sidebar__main__cv{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: bottom;
  }


  .info__sidebar__main__links {
    //display: flex;
  }
  //.info__sidebar__main__links__icon {
  //      align-content: space-around;
  //
  //    }
  //
  //.info__sidebar__main__links__icon{
  //      width: 25px;
  //      height: auto;
  //}
}



