/* You can add global styles to this file, and also import other style files */
body{
  font-family: "Roboto Light", sans-serif;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: .25px;
  background-color: #191923;
  overflow: visible;
  color: #7a7a7a;
}
